# E-mail usado para enviar as notificações
EMAIL_REMETENTE=

# Senha de app da conta Gmail utilizada como remetente
EMAIL_SENHA_APP=

# E-mail que receberá as notificações
EMAIL_DESTINATARIO=


# Endpoint da API responsável pelo cadastro das vagas
API_URL=

# Chave utilizada na autenticação das requisições para a API
API_KEY=